// 统一加个前缀，防止污染其他组件
.tdp-helper {
  // layout
  .el-header,
  .el-main {
    padding: 0;
  }
  // 菜单栏
  .el-menu {
    .el-menu-item {
      &.is-active {
        color: $primary-color;
      }
    }
  }
  // 表格
  .el-table {
    color: $text-color;
    .el-table__header {
      .is-leaf {
        font-weight: 550;
        background: $head-bg !important;
        >div {
          color: $title-color;
        }
      }
    }
    .el-table__body tr:hover > td {
      background: $hover-bg;
    }
    .el-table__cell {
      padding: 0 !important;
      >div{
        padding: 10px 12px;
        color: $text-color;
      }
    }
  }
}
// 挂载在body下面的message、message-box等样式 添加自定义class 以防止污染其他子组件
.custom-lmx {
  &.el-message-box {
    padding-bottom: 0;
    .el-message-box__btns {
      padding: 24px 16px;
    }
    .el-message-box__container {
      position: relative;
      >.el-icon {
        top: 10px;
      }
      .custom-message {
        >h3 {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
  &.el-message {
    background: #fff;
    min-width: 300px;
    .el-message__icon {
      font-size: 18px;
    }
    .el-message__content {
      color: $text-color;
    }
  }
}
